*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  box-sizing: border-box;
}

body{
  background: #e8e8e8;
  align-items: center;
}

.services-section{
  width: 100%;
  height: auto;
}

.services-section div h1{
  padding-top: 100px;
}

.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.services-section h1{
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 80px;
}

.services-section h1 strong{
  color: #6ab04c;
}

.service{
  background: #ddd;
  text-align: center;
  margin: 0px 0;
  padding: 20px;
}

.service-icon{
  width: 60px;
  height: 60px;
  margin: auto;
  background: #ecf6ff;
  border-radius: 50%;
  color: #6ab04c;
  line-height: 60px;
  font-size: 25px;
}

.service-name{
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0;
}

.service-desc{
  max-width: 400px;
  margin: auto;
  color: #333;
  font-size: 17px;
}

.owl-dots{
  text-align: center;
  margin-top: 40px;
}

.owl-dot{
  width: 14px;
  height: 14px;
  background: #808080 !important;
  margin: 0 6px;
  border-radius: 14px;
  outline: none;
  transition: .3s linear;
}

.owl-dot.active{
  width: 36px;
  background: #6ab04c !important;
}

.owl-dot:hover{
  width: 36px;
  background: #6ab04c !important;
}
